@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/venice-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  max-width: 800px;
}

